<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:p="http://www.springframework.org/schema/p"
	xsi:schemaLocation="http://www.springframework.org/schema/beans  
               http://www.springframework.org/schema/beans/spring-beans-3.0.xsd">

	<bean id="bookBean" class="com.springex.entity.Book">
		<property name="bookName" value="Friends"></property>
		<property name="bookAuthor" value="Ajanta"></property>
		<property name="bookPrice" value="170"></property>
	</bean>


	<bean id="ab" class="com.springex.entity.Student">
		<constructor-arg name="sName" value="Harsal"></constructor-arg>
		<constructor-arg name="sEdu" value="BE"></constructor-arg>
	</bean>

	<bean id="em" class="com.springex.entity.Employee">
		<constructor-arg name="empName" value="Ravi"></constructor-arg>
		<constructor-arg name="empEmail"
			value="ravi@gmail.com"></constructor-arg>
		<constructor-arg name="empDept" value="Technical"></constructor-arg>
	</bean>

	<bean id="com" class="com.springex.entity.Company">
		<constructor-arg name="compName" value="Anudip"></constructor-arg>
		<constructor-arg name="compAdd" value="Mumbai"></constructor-arg>
		<constructor-arg name="year" value="2011"></constructor-arg>
		<constructor-arg>
			<ref bean="em" />
		</constructor-arg>
	</bean>

	<bean id="product" class="com.springex.entity.Product">
		<constructor-arg name="pId" value="1011"></constructor-arg>
		<constructor-arg name="pName" value="Bottle"></constructor-arg>
		<constructor-arg name="desc"
			value="Steel Bottle for H/C water"></constructor-arg>
		<constructor-arg>
			<list>
				<value>Harshal</value>
				<value>Mamta</value>
				<value>Acahl</value>
			</list>
		</constructor-arg>
	</bean>

</beans>